.add-installation-data-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.add-installation-data-label {
  font-weight: bold;
  margin-bottom: 10px;
}

.add-installation-data-search-box {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 50%;
}
