:root {
  --primary-color: #8cc5a6;
  --secondary-color: #426f4d;
  --accent-color: #101420;
  --background-color: #000000a6;
  --text-color: #dbdde2;
  --card-background: #050608;
  --hover-color: #6da888;
  --border-color: #5a8f6e;
}

/* Target both forms */
.sign-up-form-container,
.login-form-container {
  position: absolute;
  top: 100px;
  right: 30px;
  width: 340px;
  /* background-color: #426f4d; */
  background-color: var(--background-color);
  padding: 24px 24px 28px 24px;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  z-index: 2000;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 16px;
  transition: all 0.3s ease;
}

.sign-up-form-container form,
.login-form-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sign-up-form-container input,
.login-form-container input {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 0.95rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.sign-up-form-container button,
.login-form-container button {
  background-color: #426f4d;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sign-up-form-container button:hover,
.login-form-container button:hover {
  background-color: #365a3d;
}

.sign-up-form-container p,
.login-form-container p {
  color: red;
  margin-top: 8px;
  text-align: center;
}

/* Close button */
.close-button {
  background-color: red !important;
  color: white !important;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.form-top-buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 6px;
  margin-bottom: 10px;
}

/* Responsive */
@media (max-width: 500px) {
  .sign-up-form-container,
  .login-form-container {
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  }
}

.form-title {
  margin-bottom: 16px;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  color: white;
}
