/* .nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #36485e;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  z-index: 1000;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
} */

/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 80px; /* Prevent content from being hidden under navbar */
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #8cc5a6;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  z-index: 1000;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* #407088 */
/* Nav links */
/* .nav-link {
  text-decoration: none;
  color: #ecf0f1;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 10px 15px;
  border: 2px solid transparent;
  border-radius: 4px;
  transition: all 0.3s ease;
  position: relative;
} */

.nav-link {
  text-decoration: none;
  color: #ecf0f1;
  font-size: 1.3rem;
  font-weight: 550;
  font-family: "Arial", sans-serif;
  padding: 10px 12px;
  border: 2px solid transparent;
  border-radius: 4px;
  transition: all 0.3s ease;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.2px;
}

/* Hover effect */
.nav-link:hover {
  background-color: #ecf0f1;
  color: #2c3e50;
  transform: scale(1.05);
}

/* Active link */
.nav-link.active {
  border-color: #3498db;
  background-color: #ecf0f1;
  color: #2c3e50;
}
