.priority-sorter-form-container {
  display: flex;
  flex-direction: row;
}

.ghost-row {
  height: 40px;
  background-color: #101420;
  border-bottom: 1px solid #961e14;
}

.admin-forms-prioritized-body {
  border-collapse: separate;
  border-spacing: 5px;
}

.priority-save-button-container {
  margin-left: 20px;
}

.priority-save-button-container button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
